@charset "ISO-8859-1";
.header {
    background-color: rgb(0, 223, 223); /* You can use any shade of blue you prefer */
    color: black; /* Set text color to white for better contrast */
    padding: 1px; /* Add padding to the header for spacing */
    /* Center-align the text within the header */
}

/* Table header styles */
table th {
    background-color: rgb(149, 255, 255);
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Table cell styles */
td, tr, th {
    border: 1px solid #ccc;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center; /* Center content horizontally */
    vertical-align: middle; /* Center content vertically */
}